@mixin latoFont {font-family: "Lato", sans-serif;}

@mixin montserratFont {font-family: "Montserrat", sans-serif;}

@mixin actionsBefore {
  font-family: "FontAwesome";
  font-weight: 400;
  font-size: 14px;
  margin-right: 3px;
}

.content-container {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 10px;
}

$headerColor : #8d81ac;

//_______________HEADER____________________________

.header {
  background-image: url("../img/header/headerBg.png");
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.header-menu {
  display: grid;
  grid-template-columns: 21% 52% 16%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  width: 101.8%;
  margin-left: -9px;
}

.header-menu-logo {
  position: relative;
}

.logo_img {
  width: 43px;
  height: 41px;
  padding: 30px 0;
}

.logo_text {
  color: $headerColor;
  font-weight: bold;
  font-size: 24px;
  @include latoFont;
  text-transform: uppercase;
  position: absolute;
  top: 39px;
  left: 60px;
}

.header-menu-nav-bar {
  @include montserratFont;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 16px;
  justify-self: end;
}

.nav-bar_item {
  text-decoration: none;
  color: $headerColor;
  margin-left: 21px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-menu-drop-down-btn {
  display: none;
  cursor: pointer;
}

.header-menu-vertical-nav-bar {
  display: none;
  position: absolute;
  top: 123px;
  right: 0;
  left: 0;
  background-color: #333333;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.header-menu-vertical-nav-bar--active {
  display: block;
}

.vertical-nav-bar-item {
  padding: 30px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.vertical_item {
  text-decoration: none;
  color: white;
  @include montserratFont;
  font-size: 22px;
  text-transform: capitalize;
  padding: 10px 0 10px 30px;
  border-left: 7px solid transparent;
  //transition: color 0.3s ease;
}


.vertical_item--active {
  color: $headerColor;
  border-left: 7px solid $headerColor;
}

.drop-down-btn_icon {
  color: $headerColor;
}

.drop-down-btn_icon--active {
  color: white;
}

.nav-bar-btn {
  padding: 10px 30px;
  background-color: $headerColor;
  color: white;
  border-radius: 20px;
  @include montserratFont;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 16px;
  justify-self: end;
  cursor: pointer;
  text-decoration: none;
  transition: color, background-color 0.3s ease;
}

.header-info {
  text-align: center;
  @include montserratFont;
}

.info_title {
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  margin: 60px 0 20px;
}

.info_description {
  @include latoFont;
  font-size: 22px;
  color: $headerColor;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.info_version {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 15px;
  padding-bottom: 500px;
}

.header-download-btn {
  display: inline-block;
  position: absolute;
  bottom: -62px;
  left: calc(50% - 204px);
}

.download_btn {
  @include montserratFont;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-transform: capitalize;
  padding: 18px 64px;
  border: 1px solid transparent;
  background-color: $headerColor;
  border-radius: 33px;
  cursor: pointer;
  transition: color, background-color 0.3s ease;
}

.download_description {
  @include montserratFont;
  font-size: 14px;
  color: $headerColor;
  text-transform: capitalize;
  text-align: center;
  margin-top: 20px;
}

//_______________REVOLUTIONARY_EDITOR_____________

.revolutionary-editor_title {
 @include montserratFont;
  font-size: 40px;
  font-weight: bold;
  color: #635c73;
  text-align: center;
  text-transform: uppercase;
  margin: 130px 0 40px;
}

.revolutionary-editor_slogan {
 @include latoFont;
  font-size: 26px;
  text-align: center;
  color: #5b5b5b;
  line-height: 40px;
}

.revolutionary-editor-actions {
  @include montserratFont;
  font-weight: bold;
  font-size: 13px;
  margin: 40px auto 70px auto;
  max-width: 420px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.actions-btn {
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  margin-bottom: 25px;
  cursor: pointer;
}

.actions-btn-icon {
  display: inline-block;
  border-right: 1px solid rgba(27,31,35,.2);
  background-color: #eff3f6;
  padding: 5px 10px;
}

.actions-btn-number{
  display: inline-block;
  padding: 5px 10px;
}

.watch-actions::before {
  content: "\f06e";
  @include actionsBefore;
}

.star-actions::before {
  content: "\f005";
  @include actionsBefore;
}

.fork-actions::before {
  content: "\f126";
  @include actionsBefore;
}

//_____________________WHAT_YOU_GET_________________

.what-you-get {
  display: grid;
  grid-template-areas: "articles title"
  "articles img"
  "articles img"
  "articles img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr ;
  background-color: #f4f4f4;
}

.what-you-get-articles {
  grid-area: articles;
  margin-left: 55px;
  margin-top: 85px;
}

.article {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 35px;
}

.article_title {
 @include montserratFont;
  font-size: 15px;
  text-transform: capitalize;
  color: rgba(50, 50, 50, 255);
  margin-bottom: 10px;
}

.article_text {
  @include montserratFont;
  font-size: 13px;
  color: rgba(132, 142, 151, 255);
  line-height: 20px;
  margin-right: 70px;
}

.what-you-get_title {
  grid-area: title;
  @include montserratFont;
  font-size: 40px;
  font-weight: bold;
  color: #8d81ac;
  margin-top: 85px;
}

.what-you-get_img {
  grid-area: img;
  width:101.8%;
  height: 88%;
  background-image: url("../img/whatYouGet/bg.png");
  background-size: cover;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin-top: 25px;
}

//________________________ABOUT_FORK_______________________

.about-fork {
  background-image: url("../img/aboutFork/bg.png");
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.about-fork_title {
  @include montserratFont;
  color: white;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  padding: 100px 0 90px;
}

.about-fork-comment-container {
  display: grid;
  grid-template-columns: 26% 26% 26%;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 6%;
  grid-row-gap: 100px;
  justify-content: center;
}

.comment {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.comment_logo{
  display: block;
  margin: 0 auto;
  align-self: center;
}
.comment_text {
  @include latoFont;
  font-weight: bold;
  font-size: 16px;
  color: white;
  font-style: italic;
  text-align: center;
  line-height: 25px;
}

.about-fork-footer {
  @include latoFont;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
  margin:100px 205px 0;
  padding-bottom: 25px;
}

.footer_text {
  line-height: 20px;
}

.about-fork-footer::after {
  content: "";
  padding: 0 370px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  right: calc((100% - 740px)/2);
  bottom: 15px;
}


//________________________PRICING___________________________

.pricing {
  background-image: url("../img/pricingBg.png");
  background-size: cover;
}

.pricing_title {
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  @include montserratFont;
  font-size: 45px;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 95px;
}

.pricing-item-container {
  display: grid;
  grid-template-columns: 20% 20% 24% 20%;
  grid-gap: 1%;
  justify-content: center;
  padding-bottom: 95px;
}

.pricing-item {
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  @include montserratFont;
  text-align: center;
}

.pricing-item_title {
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  padding: 45px 0 35px;
  background-color: rgba(255, 255, 255, 0.15);
}

.pricing-item_price {
  font-weight: bold;
  font-size: 60px;
  color: white;
  margin: 35px 0 25px;
}

.pricing-item_period {
  text-transform: uppercase;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 65px;
}

.pricing-item_period::after {
  content: " ";
  padding: 0 30px;
  border: 2px solid #8d81ac;
  position: absolute;
  right: calc((100% - 64px)/2);
  top: 270px;
}

.pricing-item_conditions {
  text-transform: capitalize;
  font-size: 16px;
  color: white;
  line-height: 30px;
  margin: 0 8px 85px;
}

.pricing-item_btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  padding: 12px 30px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 72px);
  transition: background-color, color 0.5s ease;
}

#bigItem.pricing-item{
  transform: scale(1.2);
  margin: 0 calc(10% - 4px);
  background-color: rgba(0, 0, 0, 0.15);
}

#bigItem .pricing-item_title {background-color: rgba(0, 0, 0, 0.15);}


//__________________________MEDIA___________________________

//______________________________SMALL_SIZE_______________________________

@media screen and (max-width: 480px) {

  //____HEADER____
  .header-menu {
    grid-template-areas: "logo btn nav-bar";
    grid-template-columns:15% 60% 15%;
    width: 105.8%;
    margin-left: -9px;
    padding: 10px 0;
  }

  .header-menu-logo {
    grid-area: logo;
    justify-self: center;
  }

  .nav-bar-btn {
    grid-area: btn;
    justify-self: center;
  }

  .logo_text {display: none;}

  .header-menu-nav-bar {display: none;}

  .info_title {font-size: 55px;}

  .info_description {line-height: 40px;}

  .header-download-btn {
    bottom: -56px;
    left: calc(50% - 155px);
  }

  .download_btn {
    color: white;
    font-size: 18px;
    padding: 15px 40px;
    border-radius: 33px;
  }

  .download_btn--active {
    color: $headerColor;
    background-color: white;
    border: 1px solid $headerColor;
  }

  .header-menu-drop-down-btn {
    display: block;
    justify-self: center;
  }

  .logo_img--active {
    content: url("../img/header/navbar-logo-hover.png");
  }

  .nav-bar-btn--active {
    color: $headerColor;
    background-color: white;
  }

  //___EDITOR_____

  .revolutionary-editor_title {
    font-size: 24px;
    margin: 75px 0 10px;
    line-height: 40px;
  }

  .revolutionary-editor_slogan {
    font-size: 16px;
    line-height: 25px;
  }

  .revolutionary-editor-actions {max-width: 300px;}

  //______WHAT_YOU_GET_____

  .what-you-get {
    grid-template-areas: "title"
    "articles"
    "img";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 3fr;
  }

  .what-you-get-articles {
    margin-left: 0px;
    margin-top: 30px;
  }

  .article {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .article_title {margin: 20px 0 10px;}

  .article_text {margin: 0;}

  .what-you-get_title {
    font-size: 35px;
    margin-top: 45px;
    text-align: center;
  }

  .what-you-get_img {
    width:100%;
    height: 90%;
    margin-left: 0px;
    margin-top: 0px;
  }

//  ______ABOUT_FORK_____

  .about-fork-comment-container {
    display: grid;
    grid-template-columns: 95%;
    grid-column-gap: 0;
    grid-row-gap: 30px;
    justify-content: center;
  }

  .about-fork_title {
    font-size: 40px;
    padding: 75px 0 25px;
    line-height: 57px;
  }

  .about-fork-footer {
    font-size: 10px;
    margin:25px 10px 0;
    padding-bottom: 25px;
  }

  .footer_text {display: none;}

  .about-fork-footer::after {
    padding: 0 150px;
    right: calc((100% - 300px)/2);
  }

//____PRICING____

  .pricing_title {
    font-size: 30px;
    margin-bottom: 50px;
    line-height: 55px;
  }
  .pricing-item-container {
    grid-template-columns: 75%;
    padding-bottom: 110px;
  }

  .pricing-item {margin-bottom: 0px;}

  #bigItem.pricing-item{margin: 43px calc(1% - 1px);}

  .pricing-item_btn--active {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.65);
    font-weight: bold;
  }

}

//______________________________MEDIUM_SIZE_______________________________

@media screen and (max-width: 992px) and (min-width: 481px) {

  //____HEADER____

  .header-menu {
    grid-template-areas: "logo logo logo btn btn btn"
    "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar";
    grid-template-columns:15% 15% 15% 15% 15% 15%;
    grid-template-rows: 60% 40%;
    width: 103.8%;
    margin-left: -9px;
    padding: 10px 0;
  }

  .header-menu-logo {grid-area: logo;}

  .nav-bar-btn {grid-area: btn;}

  .header-menu-nav-bar {
    grid-area: nav-bar;
    justify-self: center;
  }

  .nav-bar_item {margin: 0 5px;}

  .download_btn--active {
    color: $headerColor;
    background-color: white;
    border: 1px solid $headerColor;
  }

  .logo_img--active {
    content: url("../img/header/navbar-logo-hover.png");
  }

  .logo_text--active {
    color: white;
  }

  .nav-bar-btn--active {
    color: $headerColor;
    background-color: white;
  }

  .nav-bar_item--active {
    color: white;
  }

  //______EDITOR____

  .revolutionary-editor_title {
    font-size: 32px;
    margin: 105px 0 32px;
  }

  .revolutionary-editor_slogan {
    font-size: 23px;
    line-height: 35px;
  }

  //______WHAT_YOU_GET_____

  .what-you-get {
    grid-template-areas: "title"
                         "articles"
                          "img";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 4fr;
  }

  .articles {
    margin-left: 30px;
    margin-top: 25px;
  }

  .article {grid-template-columns: minmax(140px, 1fr) 4fr;}

  .article img {margin-left: 20px;}

  .what-you-get_title {
    font-size: 38px;
    margin-top: 60px;
    text-align: center;
  }

  .what-you-get_img {
    width:97.8%;
    height: 90%;
    margin-left: 30px;
    margin-top: 0px;
  }

  .article_text {margin-right: 20px;}

//  _______ABOUT_FORK_____

  .about-fork-comment-container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 3%;
    grid-row-gap: 30px;
    justify-content: center;
  }

  .about-fork_title {
    font-size: 40px;
    padding: 75px 0 25px;
    line-height: 57px;
  }

  .about-fork-footer {
    font-size: 10px;
    margin:25px 10px 0;
    padding-bottom: 25px;
  }

  .footer_text {
    line-height: 16px;
  }

  .about-fork-footer::after {
    padding: 0 200px;
    right: calc((100% - 400px)/2);
  }

//______PRICING_____

  .pricing_title {
    font-size: 43px;
    margin-bottom: 50px;
    line-height: 60px;
  }
  .pricing-item-container {
    grid-template-columns: 35% 35%;
    grid-template-rows: 50% 50%;
    grid-gap: 6%;
    padding-bottom: 140px;
  }

  .pricing-item {margin-bottom: 20px;}

  #bigItem.pricing-item{
    width: 100%;
    margin: 0 calc(1% - 1px);
  }

  .pricing-item_title {font-size: 19px;}

  .pricing-item_price {font-size: 58px;}

  .pricing-item_period {font-size: 14px;}

  .pricing-item_conditions {font-size: 15px;}

  .pricing-item_btn {font-size: 14px;}

  .pricing-item_btn--active {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.65);
    font-weight: bold;
  }
}

//______________________________BIG_SIZE_______________________________

@media screen and (min-width: 1201px) {
 .content-container {
   margin: 0 auto;
 }

  .header-menu-logo:hover .logo_img {
    content: url("../img/header/navbar-logo-hover.png");
  }

  .header-menu-logo:hover .logo_text {
    color: white;
  }

  .nav-bar_item:hover {
    color: white;
  }

  .nav-bar-btn:hover {
    color: $headerColor;
    background-color: white;
  }

  .download_btn:hover {
    color: $headerColor;
    background-color: white;
    border: 1px solid $headerColor;
  }

  .pricing-item_btn:hover {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.65);
    font-weight: bold;
  }
}